
body {
    background: black;
}

header {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 2px;
    line-height: 50px;
}

ul li:hover {
    Background: #4aaaa5;
    color: #ffffff;
}

ul li {
    background: #ffffff;
    display: inline-block;
    margin: 0px;
    width: 75px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.container{
    clear: both;
    background-color:#ffffff;
    width: 960px;
    height: 100%;
    margin: 0 auto;
    margin-top: 0;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#brianImage {
    float: left;
}

#pOne {
    margin-top: 100px;
}

p {
    margin-bottom: 40px;
}

footer {
    clear: both;
    background: #666666;
    margin-bottom: 0px;
}